<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,166}</string>
                <key>spriteSourceSize</key>
                <string>{126,166}</string>
                <key>textureRect</key>
                <string>{{1,1},{126,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,157}</string>
                <key>spriteSourceSize</key>
                <string>{117,157}</string>
                <key>textureRect</key>
                <string>{{1,299},{117,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>speed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,128}</string>
                <key>spriteSourceSize</key>
                <string>{122,128}</string>
                <key>textureRect</key>
                <string>{{1,169},{122,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>card_icon.png</string>
            <key>size</key>
            <string>{128,457}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:58a4167f59830c650531cbe847c223f1:71b549e88b524107e3dbf7fc2ad5f224:47e0943149ba21e1721c394bb09c92b5$</string>
            <key>textureFileName</key>
            <string>card_icon.png</string>
        </dict>
    </dict>
</plist>
